.statusArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.statusForm {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.statusInput {
    margin: 0.5em;
    padding: 1em;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}

.statusButton {
    padding: 0.25em;
    max-width: fit-content;
    margin: 1em auto;
}

.link {
    color: #cf4295;
    text-decoration: underline;
    font-weight: 600;
    transition: all 0.3s ease;
}

.link:hover {
    color: #ffa0e2;
}

.statusResponse {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.status {
    font-size: 1.1em;
    font-weight: 600;

}

/* Submit Button */

.submitButton {
    background: none;
    border: none;
    margin: 2em auto;
}

.cta {
    position: relative;
    padding: 11.5px 18px;
    transition: all 0.2s ease;
    border: 3px solid #982f6d;
    border-radius: 50px;
    background: #982f6d;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50px;
    background: white;
    width: 45px;
    height: 45px;
    transition: all 0.4s ease;
}

.ctaSpan {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.ctaSvg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.2s ease;
}

.cta:hover:before {
    width: 100%;
    background: #1c1c1c;
}

.cta:hover svg {
    transform: translateX(0);
    transition: all 0.2s ease;
}

.cta:active {
    transform: scale(0.95) translateY(5px);
    transition: all 0.2s ease;
}